<!-- References _form  -->
<html>

<center><h2 style="color:teal">Edit Band</h3></center>
<%= render "shared/errors" %>
<%= render 'bands/form', band: @band %>
<%= link_to "<< Back to Bands", bands_url %></body></html>

</html>
<!-- References _form  -->
