<!-- References _form  -->
<html><body>
<center><h2>Add New Band</h2></center>
<%= render "shared/errors" %>
<%= render 'bands/form', band: @band %>

<%= link_to "<< Back to Bands", bands_url %></body></html>
